.todoApp-container{
  height: 100%;
  width: 100%;
  display: flex; /* 子元素flex横向排列 */
}

.category-container{
  height: 100%;
  width: 13%;
  background-color: rgba(127, 255, 212, 0.548);
  overflow: auto; /* 启用滚动条，只有在内容溢出时才显示滚动条 */
  /* resize: horizontal; 允许水平方向上的调整大小 */
  position: relative; /* 设置定位，以便于伪元素定位 */
  border-right: 2px solid #ccc; /* 添加边界以明显表示可以调整大小 */
  min-width: 1%;
  max-width: 50%;
}

/* 添加拖拽手柄 */
.category-container::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px; /* 控制手柄宽度 */
  height: 100%;
  cursor: ew-resize; /* 设置鼠标悬浮时的图标为东西方向调整大小的图标 */
  background-color: rgba(0, 0, 0, 0.1); /* 给手柄添加一点颜色以便于观察 */
}

.todoList-container{
  height: 100%;
  flex: 1;
  background-color: rgba(151, 255, 184, 0);
  display: flex; /* 元素flex排列 */
  flex-direction: column; /* flex纵向排列 */
}

.tasks-container{
  flex: 1;
  background-color: rgba(255, 238, 165, 0.75);
  overflow: auto; /*内容溢出时才显示滚动条 */
}

.datePicker-container{
  height: 8%;
  background-color: rgba(137, 136, 210, 0.747)
}

.app-date-picker-hori{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
}

.checked {
  text-decoration: line-through;
}

.c_button{
  width: 70%;
  height: 60px; 
  background-color: transparent;
  border: none;
}