/* Style for the chat container */
.chat-container {
  height: 100%;
  width:100%;
  background-color: #c3c3c3; /* Background color for the chat box */
  font-size: x-large;
  display: flex; /* 子元素flex横向排列 */
}

.chat-list {
  height: 100%;
  width: 20%;
  background-color: #74c7c8bd; /* Background color for the chat box */
  padding: 10px; /* Padding inside the user message bubble */
  overflow: auto; /* 启用滚动条，只有在内容溢出时才显示滚动条 */
}
  

.chat-list p.addNew {
  color: #000000de; /* White text for user messages */
  background-color: #ffffff82; /* Green background for bot messages */
  padding: 18px; /* Padding inside the bot message bubble */
  margin: 8px ; /* Margin to separate bot messages */
  border-radius: 39px; /* Rounded corners for bot message bubble */
  align-items: center;
  cursor: pointer;
}

.chat-title {
  font-size: x-large;
  list-style: none;
}

.chat-title div.title-pri {
  display: flex;
  color: #b2a200; /* White text for user messages */
  background-color: #f1f1f1; /* Green background for bot messages */
  padding: 13px; /* Padding inside the bot message bubble */
  margin: 8px ; /* Margin to separate bot messages */
  border-radius: 9px; /* Rounded corners for bot message bubble */
  max-height: 3.9rem;
  overflow: hidden;
  word-break: break-all;
  cursor: pointer;
}

.chat-title div.title-sec {
  display: flex;
  color: #ded366de; /* White text for user messages */
  background-color: #71716ff0; /* Green background for bot messages */
  padding: 13px; /* Padding inside the bot message bubble */
  margin: 8px ; /* Margin to separate bot messages */
  border-radius: 9px; /* Rounded corners for bot message bubble */
  max-height: 3.9rem;
  overflow: hidden;
  word-break: break-all;
  cursor: pointer;
}

.chat-title p.title-name {
  flex: 1;
  display: flex;
  align-items: center;
  margin: 0px;
  margin-top: 0px;
}

.chat-title img.del {
  width: 13%;
  margin: 3px ; /* Margin to separate bot messages */
  padding: 3px;
  align-items: center;
  max-height: 3.9rem;
  cursor: pointer;
}

.current-chat{
  flex: 1; /* 填满剩余空间 */
  display: flex; /* 元素flex排列 */
  flex-direction: column; /* flex纵向排列 */
  height: 100%;
}

.error-chat{
  display: flex; /* 元素flex排列 */
  flex-direction: column;
}

.message-body{
  padding: 0.5rem 1.5rem;
}

.message-action{
  display: flex;
  justify-content: center;
  padding-bottom: 0.5rem;
}

.error-url-button{
  background-color: #f6d300a3;
  color: #3f3f3f9e !important;
  text-decoration: none !important;
  padding: 18px;
  border-radius: 13px;
}

.chat-history {
  width: 100%;
  overflow: auto; /* 启用滚动条，只有在内容溢出时才显示滚动条 */
  /* flex: 1; 占满warining和input外的所有空间 */
  height: 100%;
  justify-content: space-between;
}

/* Style for user messages */
.chat-history p.user {
  color: #393939; /* White text for user messages */
  padding: 8px; /* Padding inside the user message bubble */
  margin: 5px; /* Margin to separate user messages */
}
  
/* Style for bot messages */
.chat-history p.bot {
  background-color: #ffffffd1; /* Green background for bot messages */
  color: #393939; /* White text for bot messages */
  border-radius: 8px; /* Rounded corners for bot message bubble */
  padding: 8px; /* Padding inside the bot message bubble */
  margin: 5px ; /* Margin to separate bot messages */
}

/* user message input area */
.message-input-container {
  width: 100%;
  padding: 6px;
  background-color: #1ec4d0; /* 设置底部 div 的背景颜色 */
  color: #fff;       /* 文本颜色为白色 */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* 水平居中 */
  align-items: center; /* 垂直居中 */
}

.input-box {
  flex: 1; /* 占满button外的所有空间 */
  /* display: inline-block; */
}

.bottom-sent-message {
  width: 100px;
  /* display: inline-block; */
}