/* Style for the chat container */

.app-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-header {
  height: 52px;
}

.app-content {
  height: calc(100vh - 52px);
}

.app-footer {
}
