/* take all width */
.lvl-and-collapsible-task{
  width: 100%;
  height: 90px; 
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #9abacd29 !important;
  border-radius: 9px;
  margin-bottom: 5px;
}

/* fix width for drag to select lvl */
.task-parents{
  width: 65px;
  height: 90px;
  flex: 0 0 auto; /* avoid width and height being affected by flex */
  text-align: center;
  border-radius: 6px;
}

.task-parents-name{
  display: none;
}

/* align center horizontally */
.task-and-collapse-button{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 6px;
  padding-left: 19px;
}

/* collapse button placeholder for aligenment */
.collapse-button{
}

.collapse-button img{
  width: 30px !important;
  border-radius: 100% 
}

.collapse-button .done-task{
  background: #a4f6a5;
}

.task-item{
  width: 100%;
}

/* Animate items as they're being sorted. */
.cdk-drop-list-dragging .cdk-drag {
  transition: transform 550ms cubic-bezier(0, 0, 0.2, 1);
}

/* Animate an item that has been dropped. */
.cdk-drag-animating {
  transition: transform 600ms cubic-bezier(0, 0, 0.2, 1);
}

/* copy of drag item */
.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(3, 247, 235, 0.2),
              0 8px 10px 1px rgba(17, 185, 146, 0.14),
              0 3px 14px 2px rgba(6, 228, 236, 0.12);
}

/* drag item placeholder */
.cdk-drag-placeholder {
  width: 65px;
  height: 90px;
  flex: 0 0 auto; /* avoid width and height being affected by flex */
  background: #51daf2c9 !important;
  border: solid #f1ff00f0 !important;
  border-radius: 6px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
