.task-item{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

/* task item left */
.task-item-lef{
  width: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tag-img{
  width: 39px !important;
}

.cat-name{
  font-size: 1rem;
}

/* task item middle */
.task-item-mid{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.task-name{
  display: flex !important;
  align-items: center;
  width: 200px;
  height: 43px !important;
  font-size: 1.7rem;
  overflow: hidden;
  text-wrap: nowrap;
}

.text-overflow:hover {
  animation: scrollText 6s ease-in-out infinite; /* 鼠标悬停时启用滚动动画，使用 ease-in-out 计时函数 */
}

@keyframes scrollText {
  70% {transform: translateX(-100%); /* 滚动效果，以-X方向移动 */}
  80% {transform: translateX(0%); /* 滚动效果，以-X方向移动 */}
  100% {transform: translateX(0%); /* 滚动效果，以-X方向移动 */}
}

.task-done{
  text-decoration: line-through;
}

/* widgets container */
.task-info-widget{
  display: flex;
  flex-direction: row;
}

/* widgets item */
.task-info-widget > div{
  height: 26px;
  padding-right: 8px;
}

.due-date-picker button{
  max-width: 200px;
  padding: 5px;
  height: 26px;
}

.due-date-picker .button-label{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.due-date-picker .button-label p{
  margin: 0px;
  margin-top: 1px;
}

.due-date-picker img.calendar-icon{
  padding-left: 3px;
  padding-right: 7px;
  height: 16px;
}

img.clear-date{
  background-color: #ff6a6aa3;
  height: 15px;
  width: 16px;
  border-radius: 100%;
  display: none;
}

.due-date-picker:hover img.clear-date{
  display: initial;
}

.due-away{
  background-color: #eeeeee !important;
}

.due-coming{
  background-color: #b1fc53c9 !important;
}

.due-soon{
  background-color: #a9ffe4c2 !important;
}

.due-urgent{
  background-color: #ff552ac7 !important;
}

.due-today{
  background-color: #ff1b1bc7 !important;
}

.due-passed{
  background-color: #ba88fdfa !important;
}

.done-button{
  width: 70%;
  height: 60px; 
  background-color: transparent;
  border: none;
}

.add-est-time-button{
  color: #0000003d !important;
}

.add-est-time-button, .show-est-time-button{
  padding: 5px;
  height: 26px;
}

/* task item right */
/* hide by default, mouse hover to display */
.task-item-rig{
  display: none;
}

.task-item:hover .task-item-rig{
  width: 96px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.task-action-icon{
  width: 30px;
}

.task-action-icon img:hover{
  width: 19px;
}